html body {
    margin: 0;
    height: 100%;
}

.header {
    padding: 15px 0;
    background-color: white;
}

.header-content {
    display: flex;
    flex-direction: row; 
    align-items: center;
    justify-content: flex-start;
    padding-left: 70px;
}

.logo-content {
    display: flex;
    flex-direction: row;
}

.logo-content-img {
    width: 45px;
    height: 7vh;
}

.addressBook-text {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: larger;
    text-transform: capitalize;
    padding-left: 5px;
}

.address-text {
    color: cornflowerblue;
}

* {
    box-sizing: border-box;
}

.main-content {
    min-height: calc(100% - 80px);
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0px solid green;
  }
  
  .main-header-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    padding: 25px;
  }
  
  .addressbook-detail-text {
    font: normal normal bold 24px/25px Roboto;
    letter-spacing: 0px;
    color: #42515f;
    opacity: 1;
    text-align: left;
  }
  
  .contact-count {
    background-color: #008cff;
    color: lightgray;
    border-radius: 42%;
    font-size: 16px;
    width: 26px;
    text-align: center;
    display: inline-block;
    padding-right: 1px;
  }
  
  .add-button {
    font: normal normal normal 22px/29px Roboto;
    letter-spacing: 0px;
    color: #ffffff;
    opacity: 1;
    background: #008cff 0% 0% no-repeat padding-box;
    border: none;
    border-radius: 5px;
    padding: 5px 18px;
    outline: none;
    cursor: pointer;
    text-decoration: none;
  }