body {
    margin: 0;
    height: 100;
}

.header {
    padding: 15px 0;
    background-color: white;
}

.header-content {
    display: flex;
    flex-direction: row; 
    align-items: center;
    justify-content: flex-start;
    padding-left: 70px;
}

.logo-content {
    display: flex;
    flex-direction: row;
}

.logo-content-img {
    width: 45px;
    height: 7vh;
}

.addressBook-text {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: larger;
    text-transform: capitalize;
    padding-left: 5px;
}

.address-text {
    color: cornflowerblue;
}

* { box-sizing: border-box ; 
}

.form {
    min-height: calc(100% 80%);
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.form-content {
    width: 65%;
	padding: 44px 60px;
	border-radius: 8px;
	opacity: 1;
	border: 3px solid #f5f5f5;
	box-shadow: 0px 3px 6px #00000029;
	background: white;
}
